<h1>Showing Articles details</h1>
<p><strong>Title: </strong> <%= @article.title %></p>
<p><strong>Description: </strong> <%= @article.description %></p>
<p><strong>Author: </strong> <%= @article.user.username %></p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: 'Are you sure you wanna delete?'} %>
<br/>

<%= button_to "Back to Articles Listing", { :action => "index" }, :method => :get %>